<ul class="list-group list-group-flush text-center">
	<a class="list-group-item" href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> {% trans %}Dashboard{% endtrans %}</a>
	<a class="list-group-item" href="{{ path('admin_course_list_all') }}"><i class="fa fa-mortar-board fa-fw"></i> {% trans %}Course Mgt.{% endtrans %}</a>
	<a class="list-group-item" href="{{ path('admin_user_list') }}"><i class="fa fa-user fa-fw"></i> {% trans %}User Mgt.{% endtrans %}</a>
	<a class="list-group-item" href="{{ path('admin_account_overview') }}"><i class="fa fa-credit-card fa-fw"></i> {% trans %}Account Mgt.{% endtrans %}</a>
	<a class="list-group-item" href="{{ path('admin_setting') }}"><i class="fa fa-cog fa-fw"></i> {% trans %} Settings{% endtrans %}</a>
</ul>
