<ul class="list-group list-group-flush text-center">
	<a class="list-group-item" href="{{ path('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> {% trans %}Dashboard{% endtrans %}</a>
	<a class="list-group-item" href="{{ path('course') }}"><i class="fa fa-mortar-board fa-fw"></i> {% trans %}Course Mgt.{% endtrans %}</a>
	<a class="list-group-item" href="{{ path('teacher') }}"><i class="fa fa-user fa-fw"></i> {% trans %}Teacher Mgt.{% endtrans %}</a>
	<a class="list-group-item" href="{{ path('learner') }}"><i class="fa fa-users fa-fw"></i> {% trans %}Learner Mgt.{% endtrans %}</a>
	<a class="list-group-item" href="{{ path('account') }}"><i class="fa fa-credit-card fa-fw"></i> {% trans %}Account Mgt.{% endtrans %}</a>
	<a class="list-group-item" href="{{ path('setting') }}"><i class="fa fa-cog fa-fw"></i> {% trans %} Settings{% endtrans %}</a>
</ul>
