{% extends '::two-col.html.twig' %}


{% block title %}{% trans %}View Time Booked{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Teacher:sidebar.html.twig" %}
{% endblock %}

{% block body %}
    
    <div class="panel-body">

    <p class="lead">My Time Booked</p>

    <table class="table">

    <thead>
    	<td><strong>{% trans %}Date{% endtrans %}</strong></td>
    	<td><strong>{% trans %}Start{% endtrans %}</strong></td>
    	<td><strong>{% trans %}End{% endtrans %}</strong></td>
    	<td><strong>{% trans %}Course{% endtrans %}</strong></td>
    	<td><strong>{% trans %}Learner{% endtrans %}</strong></td>
    </thead>

    <tbody>

	    {% for entity in entities %}
	    <tr>
		    <td>{{ entity.starttime|date("m-d") }}</td>
		    <td>{{ entity.starttime|date("H:i") }}</td>
		    <td>{{ entity.endtime|date("H:i") }}</td>
		    <td>{{ entity.course.name }}</td>
		    <td></td>
	    </tr>
	    {% endfor %}

    </tbody>

    </table>

    {{ message }}
    
{% endblock %}
