{% extends '::two-col.html.twig' %}


{% block title %}{% trans %}View Weekly Plan{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Teacher:sidebar.html.twig" %}
{% endblock %}

{% block body -%}
    <h1>Weekplan list</h1>

    {#
    <table class="table">
        <thead>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </thead>
        <tbody>
        {% for entity in entities %}

        {% endfor %}
        </tbody>
    </table>

    <hr/>

    #}

    <table class="table">
        <thead>
            <tr>
                <th>Weekday</th>
                <th>Start Hour</th>
                <th>Start Minute</th>
                <th>Start Hour</th>
                <th>End Minute</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{  weekdays[entity.weekday-1] }}</td>
                <td>{{ "%02d" |format((entity.startminute-1440*(entity.weekday-1))/60) }}</td>
                <td>{{ "%02d" |format((entity.startminute-1440*(entity.weekday-1))%60) }}</td>
                <td>{{ "%02d" |format((entity.endminute-1440*(entity.weekday-1))/60) }}</td>
                <td>{{ "%02d" |format((entity.endminute-1440*(entity.weekday-1))%60) }}</td>
                <td>
                    action
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="#">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
