{% extends '::two-col.html.twig' %}


{% block title %}{% trans %}View Weekly Plan{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Teacher:sidebar.html.twig" %}
{% endblock %}

{% block body %}
    
    <div class="panel-body">

    <p class="lead">My Weekly Plan</p>

    <table class="table">
        <thead>
            <tr><td></td><td><strong>{% trans %}Weekday{% endtrans %}</strong></td>
            <td colspan=8><strong>{% trans %}Available Time{% endtrans %}</strong></td></tr>
        </thead>
        <tbody>
        <tr><td>Edit</td><td>{% trans %}Monday{% endtrans %}</td>
            {% for agenda in entity[0] %}
                <td>
                        {{ agenda }}
                </td>
            {% endfor %}<td colspan=8></td>
        </tr>
        <tr><td>Edit</td><td>{% trans %}Tuesday{% endtrans %}</td>
            {% for agenda in entity[1] %}
                <td>
                        {{ agenda }}
                </td>
            {% endfor %}<td colspan=8></td>
        </tr>
        <tr><td>Edit</td><td>{% trans %}Wednesday{% endtrans %}</td>
            {% for agenda in entity[2] %}
                <td>
                        {{ agenda }}
                </td>
            {% endfor %}<td colspan=8></td>
        </tr>
        <tr><td>Edit</td><td>{% trans %}Thursday{% endtrans %}</td>
            {% for agenda in entity[3] %}
                <td>
                        {{ agenda }}
                </td>
            {% endfor %}<td colspan=8></td>
        </tr>
        <tr><td>Edit</td><td>{% trans %}Friday{% endtrans %}</td>
            {% for agenda in entity[4] %}
                <td>
                        {{ agenda }}
                </td>
            {% endfor %}<td colspan=8></td>
        </tr>
        <tr><td>Edit</td><td>{% trans %}Saturday{% endtrans %}</td>
            {% for agenda in entity[5] %}
                <td>
                        {{ agenda }}
                </td>
            {% endfor %}<td colspan=8></td>
        </tr>
        <tr><td>Edit</td><td>{% trans %}Sunday{% endtrans %}</td>
            {% for agenda in entity[6] %}
                <td>
                        {{ agenda }}
                </td>
            {% endfor %}<td colspan=8></td>
        </tr>
        </tbody>
    </table>

    </div>
    

    {#
    
        {% for entity in entities %}

        {% endfor %}
        </tbody>
    </table>

    <hr/>

    #}

    {#

        <ul>
        <li>
            <a href="#">
                Create a new entry
            </a>
        </li>
    </ul>

    #}
{% endblock %}
