{% extends '::two-col.html.twig' %}


{% block title %}{% trans %}View Weekly Plan{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Teacher:sidebar.html.twig" %}
{% endblock %}

{% block body -%}
    <h1>Weekplan list</h1>

    {#
    <table class="table">
        <thead>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </thead>
        <tbody>
        {% for entity in entities %}

        {% endfor %}
        </tbody>
    </table>

    <hr/>

    #}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Weekday</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('teacher_weekplan_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.weekday }}</td>
                <td>{{ "%02d" |format(entity.starthour) }}:{{ "%02d" |format(entity.startminute) }}</td>
                <td>{{ "%02d" |format(entity.endhour) }}:{{ "%02d" |format(entity.endminute) }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('teacher_weekplan_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('teacher_weekplan_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('teacher_weekplan_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
