{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}Choose a Time{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Learner:sidebar.html.twig" %}
{% endblock %}

{% block body %}
	<div class="panel panel-default">
	{#<div class="panel-heading">{% trans %}Dashboard{% endtrans %}</div>#}
	<div class="panel-body">

	<p class="lead">Step 1 - Choose your Course:</p>

	{{ form(form_course) }}

	<p class="lead">Step 2 - Choose your Teacher:</p>

	{{ form(form_teacher) }}

	<p class="lead">Step 3 - Choose a Time</p>

	{% if message is defined %}
		{{ dump(message) }}
	{% endif %}

	

	<div class="panel panel-default">
        <div class="panel-heading">{% trans %}Teacher Timetable{% endtrans %}</div>
        <div class="panel-body">

        <table class="table">
            <thead>
                <tr><td></td><td><strong>{% trans %}Weekday{% endtrans %}</strong></td>
                <td colspan=10><strong>{% trans %}Available Time{% endtrans %}</strong></td></tr>
            </thead>
            <tbody>
            <tr><td><a href='{{ path('teacher_weekplan_clear_day', {'weekday':1}) }}'>clear</a></td><td>{% trans %}Monday{% endtrans %}</td>
                {% for agenda in entity[0] %}
                    <td>
                            {{ agenda }}
                    </td>
                {% endfor %}<td colspan=10></td>
            </tr>
            <tr><td><a href='{{ path('teacher_weekplan_clear_day', {'weekday':2}) }}'>{% trans %}clear{% endtrans %}</a></td><td>{% trans %}Tuesday{% endtrans %}</td>
                {% for agenda in entity[1] %}
                    <td>
                            {{ agenda }}
                    </td>
                {% endfor %}<td colspan=10></td>
            </tr>
            <tr><td><a href='{{ path('teacher_weekplan_clear_day', {'weekday':3}) }}'>{% trans %}clear{% endtrans %}</a></td><td>{% trans %}Wednesday{% endtrans %}</td>
                {% for agenda in entity[2] %}
                    <td>
                            {{ agenda }}
                    </td>
                {% endfor %}<td colspan=10></td>
            </tr>
            <tr><td><a href='{{ path('teacher_weekplan_clear_day', {'weekday':4}) }}'>{% trans %}clear{% endtrans %}</a></td><td>{% trans %}Thursday{% endtrans %}</td>
                {% for agenda in entity[3] %}
                    <td>
                            {{ agenda }}
                    </td>
                {% endfor %}<td colspan=10></td>
            </tr>
            <tr><td><a href='{{ path('teacher_weekplan_clear_day', {'weekday':5}) }}'>{% trans %}clear{% endtrans %}</a></td><td>{% trans %}Friday{% endtrans %}</td>
                {% for agenda in entity[4] %}
                    <td>
                            {{ agenda }}
                    </td>
                {% endfor %}<td colspan=10></td>
            </tr>
            <tr><td><a href='{{ path('teacher_weekplan_clear_day', {'weekday':6}) }}'>{% trans %}clear{% endtrans %}</a></td><td>{% trans %}Saturday{% endtrans %}</td>
                {% for agenda in entity[5] %}
                    <td>
                            {{ agenda }}
                    </td>
                {% endfor %}<td colspan=10></td>
            </tr>
            <tr><td><a href='{{ path('teacher_weekplan_clear_day', {'weekday':7}) }}'>{% trans %}clear{% endtrans %}</a></td><td>{% trans %}Sunday{% endtrans %}</td>
                {% for agenda in entity[6] %}
                    <td>
                            {{ agenda }}
                    </td>
                {% endfor %}<td colspan=10></td>
            </tr>
            </tbody>
        </table>

        </div>
        </div>

    </div>
	
	

	</div>
	</div>

<p class="help-block">{% trans %}If you have any questions, please contact school365.{% endtrans %}</p>

{% endblock %}
