{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}Choose Your Course{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Learner:sidebar.html.twig" %}
{% endblock %}

{% block body %}
	<div class="panel panel-default">
	{#<div class="panel-heading">{% trans %}Dashboard{% endtrans %}</div>#}
	<div class="panel-body">

		<a class="btn btn-default pull-right" href="javascript:history.back()">{% trans %}Go Back{% endtrans %}</a>
		<p class="lead">{% trans %}Book a Time{% endtrans %}<p>
		<p>{% trans %}Taught by{% endtrans %}<strong> {{ teacher.name }}</strong> 
		{% trans %}for the course {% endtrans %} <strong>{{ course.name }}</strong>, {% trans %}lasting{% endtrans %}<strong> {{ course.duration }} </strong>{% trans %}minutes{% endtrans %},
		{% trans %}from{% endtrans %} <strong>{{ event.start|date('l H:i', usertz) }} </strong>{% trans %}to{% endtrans %}<strong> {{ event.end|date('l H:i',usertz) }}</strong>.</p>

		{% if bookedtime[0] is defined %}
		<div class="alert alert-warning" role="alert">
			<strong>Avoid booking the following time span(s),</strong>
			<ul>
				{% for bookedtimespan in bookedtime %}
					<li>
						{{ bookedtimespan.start|date('l H:i', usertz) }} -- {{ bookedtimespan.end|date('l H:i', usertz) }}
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		
		<hr />
		<p class="lead">{% trans %}When do you want the course begin{% endtrans %}</p>
		{% if timespans is defined %}
			{{ form(timespans) }}
		{% else %}
			<p>{% trans %}There is no time available now.{% endtrans %}</p>
		{% endif %}
		
		

	</div>
	</div>

<p class="help-block">{% trans %}If you have any questions, please contact school365.{% endtrans %}</p>

{% endblock %}
