{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}Course Mgt.{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Admin:sidebar.html.twig" %}
{% endblock %}

{% block body %}

	<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#">{% trans %}Active Courses{% endtrans %}</a></li>
		  <li><a href="{{ path('admin_course_list_pending') }}">{% trans %}Pending Approval{% endtrans %}{% if pending_number>0 %} <span class="badge">{{ pending_number }}</span>{% endif %}</a></li>
		  <li><a href="{{ path('admin_course_list_record') }}">{% trans %}Course Record{% endtrans %}</a></li>
	</ul>

	<div class="panel-body">
		<p class="lead">
			{% trans %}Active Courses{% endtrans %}
			<button class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus fa-fw"> </i> {% trans %}New course{% endtrans %}</button>
		</p>
		<table class="table table-striped">
		<thead>
		<th>{% trans %}Course ID{% endtrans %}</th>
		<th>{% trans %}Course Name{% endtrans %}</th>
		<th>{% trans %}Description{% endtrans %}</th>
		<th>{% trans %}Duration{% endtrans %}</th>
		<th>{% trans %}Price{% endtrans %}</th>
		<th></th>
		</thead>

		{# <th>{% trans %}Date Created{% endtrans %}</th> #}
		<tbody>
		{% for course in courses %}
		<tr>
			<td>{{ course.id }}</td>
			<td>{{ course.name }}</td>
			<td>{{ course.description[:25] }}</td>
			<td>{{ course.duration }}</td>
			<td>{{ course.price }}</td>
			<td><div class="btn-toolbar"><a class="btn-sm btn-default" title="{% trans %}Edit the course.{% endtrans %}"><i class="fa fa-edit"></i></a> <a class="btn-sm btn-default"><i class="fa fa-user" title="{% trans %}Assign the course to teachers. {% endtrans %}"></i></a> <a class="btn-sm btn-danger" href="{{ path('admin_course_change_status', {'status' : 'PENDING', 'courseid': course.id, 'redirect' : 'admin_course_list_all'}) }}" title="{% trans %}Inactivate the course. {% endtrans %}"><i class="fa fa-stop"></i></a></div></td>

		</tr>
		{% endfor %}
		</tbody>
		</table>

		<hr />

		<p class="help-block"><span class="label label-info">{% trans %}Note{% endtrans %}</span></p>
		<ul>
			<p class="help-block">
			<i class="fa fa-edit"></i> : {% trans %}Edit the course.{% endtrans %} <br />
			<i class="fa fa-user"></i> : {% trans %}Assign the course to teachers. {% endtrans %} <br />
			<i class="fa fa-stop"></i> : {% trans %}Inactivate the course. {% endtrans %} <br />
			</p>
		</ul>

	</div>

{% endblock %}

