{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}Course Mgt.{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Admin:sidebar.html.twig" %}
{% endblock %}

{% block body %}

	<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="{{ path('admin_course_list_all') }}">{% trans %}Active Courses{% endtrans %}</a></li>
		  <li><a href="{{ path('admin_course_list_pending') }}">{% trans %}Pending Approval{% endtrans %}{% if pending_number>0 %} <span class="badge">{{ pending_number }}</span>{% endif %}</a></li>
		  <li><a href="{{ path('admin_course_list_record') }}">{% trans %}Course Record{% endtrans %}</a></li>
	</ul>

	<div class="panel panel-body">
		<a href="{{ path('admin_course_list_all') }}"><button type="button" class="btn btn-sm btn-default pull-right">Go Back</button></a>

	<p class="lead">{{ course.courseid }} - <strong>{{ course.name }}</strong></p>
		<em>{% trans %}Teachers approved to teach this course:{% endtrans %}</em>
		<!--<table class="table table-striped table-condensed">
		<tbody>
		</tbody>
		</table>
		-->

		<br/>

		<em>{% trans %}Allow teacher to teach the course:{% endtrans %}</em>

		{{ form(form) }}
	</div>


{% endblock %}

