{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}Course Mgt.{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Admin:sidebar.html.twig" %}
{% endblock %}

{% block body %}

	<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="{{ path('admin_course_list_all') }}">{% trans %}Active Courses{% endtrans %}</a></li>
		  <li><a href="{{ path('admin_course_list_pending') }}">{% trans %}Pending Approval{% endtrans %}{% if pending_number>0 %} <span class="badge">{{ pending_number }}</span>{% endif %}</a></li>
		  <li><a href="{{ path('admin_course_list_record') }}">{% trans %}Course Record{% endtrans %}</a></li>
	</ul>

	<div class="panel-body">
		<a href="{{ path('admin_course_list_all') }}"><button type="button" class="btn btn-sm btn-default pull-right">Go Back</button></a>
		<p class="lead">
			{% trans %}Assign Teacher to Course{% endtrans %}
		</p>
		{% trans %}Courses allowed to be taught:{% endtrans %} <strong></strong> <br />
	</div>

	<div class="panel-body">
	{{ form_start(form) }}
	    {# render the task's only field: description #}
	    {{ form_row(form.name) }}

	    <table class="table">
	        {# iterate over each existing tag and render its only field: name #}
	        {% for course in form.Courses %}
	        	<tr>{{ form_row(course.course_id) }}</tr>
	            <tr>{{ form_row(course.name) }}</tr>
	        {% endfor %}

	        <ul class="tags" data-prototype="{{ form_widget(form.Courses.vars.prototype.name)|e }}">Add New
    		</ul>

	    </table>
	{{ form_end(form) }}
	</div>


{% endblock %}

