{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}User Mgt.{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Admin:sidebar.html.twig" %}
{% endblock %}

{% block body %}

	<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#">{% trans %}User List{% endtrans %}</a></li>
	</ul>

	<div class="panel-body">
		<p class="lead">
			{% trans %}User List{% endtrans %}
			<a href="{{ path('admin_user_new') }}"><button class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus fa-fw"> </i> {% trans %}New User{% endtrans %}</button></a>
		</p>
		<table class="table table-striped table-hover">
		<thead>
		<th></th>
		<th>{% trans %}User ID{% endtrans %}</th>
		<th>{% trans %}Name{% endtrans %}</th>
		<th>{% trans %}Email{% endtrans %}</th>
		<th>{% trans %}Phone{% endtrans %}</th>
		<th>{% trans %}Account Balance{% endtrans %}</th>
		<th>{% trans %}Date Registered{% endtrans %}</th>
		<th></th>

		{% for user in users %}
		<tr>
			<td>
				{% if (user.roles) == 'ADMIN' %}<span class="label label-info">{% trans %}ADM{% endtrans %}</span>{% endif %}
			</td>
			<td>{{ user.id }}</td>
			<td>{{ user.Name }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.phone }}</td>
			<td>{{ user.AccountBalance }}</td>
			<td>{{ user.CreateTime|date('Y-m-d') }}</td>
			<td><div class="btn-toolbar"><a class="btn-sm btn-default" href="{{ path('admin_user_edit', { 'id': user.id }) }}"><i class="fa fa-edit"></i></a></div></td>
		</tr>
		{% endfor %}
		</thead>
		<tbody>
		</tbody>
		</table>
	</div>

{% endblock %}

